[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aniso8601 = "==8.0.0"
appnope = "==0.1.0"
backcall = "==0.1.0"
certifi = "==2020.4.5.1"
chardet = "==3.0.4"
click = "==7.1.2"
decorator = "==4.4.2"
enum34 = "==1.1.10"
honcho = "==1.0.1"
idna = "==2.9"
ipython = "==7.14.0"
iso8601 = "==0.1.12"
itsdangerous = "==1.1.0"
jedi = "==0.17.0"
parso = "==0.7.0"
pathlib2 = "==2.3.5"
pexpect = "==4.8.0"
pickleshare = "==0.7.5"
prompt-toolkit = "==3.0.5"
ptyprocess = "==0.6.0"
python-dateutil = "==2.8.1"
python-dotenv = "==0.13.0"
python-editor = "==1.0.4"
pytz = "==2020.1"
requests = "==2.23.0"
scandir = "==1.10.0"
shortuuid = "==1.0.1"
simplegeneric = "==0.8.1"
six = "==1.15.0"
traitlets = "==4.3.3"
urllib3 = "==1.25.9"
wcwidth = "==0.1.9"
xmltodict = "==0.12.0"
alembic = "==1.4.1"
"backports.shutil_get_terminal_size" = "==1.0.0"
Flask = "==1.1.2"
Flask-RESTful = "==0.3.8"
Flask-Script = "==2.0.6"
Flask-SQLAlchemy = "==2.4.4"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.11.3"
Mako = "==1.1.2"
MarkupSafe = "==1.1.1"
Pygments = "==2.6.1"
SQLAlchemy = "==1.3.23"
SQLAlchemy-Utils = "==0.36.6"
uWSGI = "==2.0.18"
Werkzeug = "==1.0.1"
colored = "*"
coloredlogs = "*"
psycopg2-binary = "*"
cffi = "==1.14.4"
cryptography = "==3.4.1"
gunicorn = "==20.0.4"
pycparser = "==2.20"
semantic-version = "==2.8.5"
setuptools-rust = "==0.11.6"
toml = "==0.10.2"
pyOpenSSL = "==20.0.1"
pytest = "==6.2.2"
PyJWT = "==2.0.1"
marshmallow = "==3.10.0"
marshmallow-sqlalchemy = "==0.24.2"
flask-marshmallow = "==0.14.0"
Flask-Migrate = "==2.7.0"
pandas = "==1.2.3"


[requires]
python_version = "3.8"
